apiVersion: v1
kind: ConfigMap
data:
  config.yaml: |-
    sinks:
    {{- if .Values.sinks.stdout }}
    - name: stdout
    {{- end }}
    {{- if .Values.sinks.newRelicInfra}}
    - name: newRelicInfra
      config:
        agentEndpoint: http://localhost:8001/v1/data
        clusterName: {{ include "newrelic.common.cluster" . }}
        agentHTTPTimeout: {{ .Values.agentHTTPTimeout }}
    {{- end }}
metadata:
  name: {{ include "newrelic.common.naming.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "newrelic.common.labels" . | indent 4 }}
{{ if .Values.config }}
---
apiVersion: v1
kind: ConfigMap
data:
  newrelic-infra.yml: |
{{ toYaml .Values.config | indent 4 }}
metadata:
  name: {{ include "newrelic.common.naming.fullname" . }}-agent-config
  namespace: {{ .Release.Namespace }}
  labels: 
{{ include "newrelic.common.labels" . | indent 4 }}
{{ end }}
