name: E2E over minikube (Internal Contribution)

on:
  pull_request:
  push:
    branches:
      - main
      - renovate/**

permissions:
  contents: read

jobs:
  e2eTests:
    name: Run E2E Tests (Internal Contribution)
    # Do not run e2e tests if PR has skip-e2e label or if it's from a forked repo (external contribution)
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'ci/skip-e2e') && github.event.pull_request.head.repo.full_name == 'newrelic/nri-kube-events' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Latest patch version can be found in https://kubernetes.io/releases/patch-releases/
        # Some versions might not be available yet in https://storage.googleapis.com/kubernetes-release/release/v1.X.Y/bin/linux/amd64/kubelet
        k8sVersion: ["v1.34.0", "v1.33.0", "v1.32.0", "v1.31.0", "v1.30.0"]
        cri: [ containerd ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'

      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@b589f2d61bf96695c546929c72b38563e856059d # v2.14.0
        with:
          minikube version: v1.37.0
          kubernetes version: ${{ matrix.k8sVersion }}
          driver: docker
          github token: ${{ secrets.GITHUB_TOKEN }}
          start args: "--container-runtime=${{ matrix.cri }}"

      - name: Build and load Images
        run: |
          docker buildx build --load . --tag e2e/nri-kube-events:e2e
          minikube image load e2e/nri-kube-events:e2e

      - name: Setup Helm
        # First command avoids getting following warning:
        # "WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /home/runner/.kube/config"
        run: |
          chmod go-r /home/runner/.kube/config
          helm repo add nri-kube-events https://newrelic.github.io/nri-kube-events
          helm repo update

      - name: Select metrics exception file
        id: exceptions-version
        run: |
          MINOR=$(echo "${{ matrix.k8sVersion }}" | sed -n 's/v\([0-9]\)\.\([0-9][0-9]*\)\.[0-9].*/\1_\2/p')
          
          echo $MINOR
          echo "exceptions=$MINOR" >> $GITHUB_OUTPUT

      - name: Run E2E tests
        uses: newrelic/newrelic-integration-e2e-action@c548a33a0c2941a4db4899ded766923eb3178e0e # v1.12.0
        env:
          EXCEPTIONS_SOURCE_FILE: ${{ steps.exceptions-version.outputs.exceptions }}-exceptions.yml
        with:
          retry_seconds: 60
          retry_attempts: 5
          agent_enabled: false
          spec_path: e2e/test-specs.yml
          account_id: ${{ secrets.K8S_AGENTS_E2E_ACCOUNT_ID }}
          api_key: ${{ secrets.K8S_AGENTS_E2E_API_KEY }}
          license_key: ${{ secrets.K8S_AGENTS_E2E_LICENSE_KEY }}
