name: Lint and test code
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  lint-test:
    name: lint and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14.4'
      - name: Lint
        run: make
      - name: Test
        run: make test
